/* styles.css */
body {
    margin: 100px;
    background-color: #000;
}

#teamHeader {
    text-align: center;
    border-bottom: 2px solid black; /* Underline thickness and color */
    padding-bottom: 5px; /* Adds space between text and underline */
}

#rulesList {
    column-count: 2; /* Creates two columns */
    column-gap: 1rem; /* Space between columns */
}

#rulesList li {
    break-inside: avoid; 
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

form {
    width: 350px;
    font-size: 20px;
}

#imageRowTemplate {
    display: none;
}

i {
    cursor:pointer;
    color: #fe2b2b;
}


#scoreboard td, #scoreboard th {
    border: 1.2px solid #000;
    padding: 8px;
    text-align: center;
    height: 30px;
    width: 150px;
    font-size: 24px;
}

#bingo-board td, #bingo-board th {
    border: 1.2px solid #000;
    padding: 8px;
    text-align: center;
    height: 170px;
    width: 170px;
    font-size: 20px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
}

/* Difficulty color styles */

.start {
    background-color: #0de63f; /* Neon Green */
}

.beginner {
    background-color: #d4edda; /* Light green */
}

.easy {
    background-color: #cce5ff; /* Light blue */
}

.medium {
    background-color: #ffeeba; /* Light yellow */
}

.hard {
    background-color: #f8d7da; /* Light red */
}

.elite {
    background-color: #f78691; /* Pink */
}

.master {
    background-color: #fe2b2b; /* Light gray */
}

.completed {
    background-color: #0de63f; /* Neon Green */
}
